@mixin sprite { 
	background: url(/img/sprite.svg); 
	background-size: 1920px 1080px; 
}

.icon-photo, .icon-timeoff, .icon-compensation, .icon-health, .icon-benefits, .icon-dribbble, .icon-photo { @include sprite; }

.icon-photo { background-position: -25px -18px; width: 80px; height: 80px; }

.logo { background-position: -38px -24px; width: 158px; height: 31px; }

.icon-timeoff, .icon-compensation, .icon-health, .icon-benefits {width: 19px; height: 19px; }

.icon-timeoff { background-position: -93px -109px; }
.icon-compensation { background-position: -71px -109px; }
.icon-health { background-position: -48px -109px; }
.icon-benefits { background-position: -25px -109px; }
.icon-dribbble { background-position: -125px -18px; width: 24px; height: 24px; }

%icon{
	$s: 1.25rem;
	height: $s;
	width: $s;
	margin-left: 8px;
	fill: set-colors('grey', 'light');
	stroke: set-colors('grey', 'base');
	stroke-miterlimit: 10;
	stroke-width: 4px;
	stroke-linecap: round;
	transition: all 0.5s ease;
}

.icon{
	flex: 0 0 auto;
	@extend %icon;

	&--fill{
		stroke: none;

		&--yellow{
			fill: set-colors('yellow', 'lighter');
		}
	}

	&--right{
		margin-left: 8px;
		margin-right: 0;
	}

	&--left{
		margin-left: 0;
		margin-right: 8px;
	}
}

.icon-social{
	margin-right: 0rem;
	fill: set-colors('grey', 'light');

	&:hover{
		fill: set-colors('grey', 'base');
	}
}

.icon-email{
	fill: set-colors('yellow', 'lightest');
}


.icon-close{
	@extend %icon;

	&--small{
		$s: 6px;
		height: $s;
		width: $s;
		margin: 0;
		stroke: #fff;
	}

	&--normal{
		stroke-width: 4px;
		$s: 12px;
		height: $s;
		width: $s;
		margin: 0;
		stroke: #fff;
	}

	&--large{
		stroke-width: 3px;
		$s: 24px;
		height: $s;
		width: $s;
		margin: 0;
		stroke: #fff;
		@include phoblet{
			$s: 12px;
			height: $s;
			width: $s;
		}
		@include mobile{
			$s: 12px;
			height: $s;
			width: $s;
		}
	}

	&--dark{
		stroke: set-colors('grey', 'base');
	}
}

.icon-arrow{

	&--left{
		$s: 0.75rem;	
		height: $s;
		width: $s;
		fill: none;
		margin: 0;
		transform: rotate(-90deg);
		stroke: set-colors('grey', 'base');
		stroke-width: 3px;
	}

	&--right{
		$s: 0.75rem;	
		height: $s;
		width: $s;
		fill: none;
		margin: 0;
		transform: rotate(90deg);
		stroke: set-colors('grey', 'base');
		stroke-width: 3px;
	}
}

.icon-open{
	fill:none;
	stroke: set-colors('grey', 'light');
	stroke-miterlimit: 10;
	stroke-width: 2px;
	$s: 1rem;	
	height: $s;
	width: $s;
}

.icon-tag{
	$s: 1.5rem;	
	height: $s;
	width: $s;
	margin-right: 0.5rem;
	fill: set-colors('yellow', 'lighter');
	stroke: none;
}

.icon-info{
	$s: 16px;	
	height: $s;
	width: $s;
	margin-left: 0.5rem;
	fill: set-colors('grey', 'dark');
	stroke: none;

	&:hover{
		fill: set-colors('blue', 'base');
	}
}

.icon-benefit{
	$s: 36px;	
	height: $s;
	width: $s;
	margin-right: 8px;
}

.icon-verified{
	$s: 24px;	
	height: $s;
	width: $s;
	margin: 0;
	stroke: none;
}

.icon-tick{
	$s: 12px;	
	height: $s;
	width: $s;
	margin-right: 0;
	stroke: set-colors('green', 'dark');
	fill: none;
	stroke-linecap: round;
	stroke-width: 4px;
	stroke-miterlimit: 10;
	margin-right: 0.25rem;
}

.icon-menu{
	fill: set-colors('grey', 'lightest');

}

.logo{
	fill: set-colors('yellow', 'base');
}
