.slideup-enter-active, .slideup-leave-active{
	transition: all 0.75s;
}
.slideup-enter, .slideup-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(2rem);
}

.zoom-enter-active, .zoom-leave-active{
	transition: all 0.5s;
}

.zoom-enter, .zoom-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scale(0.8);
}


